<header>
  <nav class="nav collapsible">
    <span class="nav__item">
      <a href="/"> TRP </a>
    </span>

    <svg class="icon icon--white nav__toggler">
      <use href="/images/sprite.svg#menu"></use>
    </svg>

    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="/">Home</a></li>
      <!-- <li class="nav__item"><a href="/contact/">About Us</a></li> -->
      <li class="nav__item"><a href="/drone-services/">Drone Service</a></li>
      <li class="nav__item"><a href="/contact/">Contact</a></li>
      <!-- <li class="nav__item"><a href="/contact/">Blog</a></li> -->
    </ul>
  </nav>
</header>
