---
title: Page Not Found | SX4
description: ""
layout: "base.njk"
permalink: 404.html
---

<section class="block container">
  <header class="block__header">
    <h2>Oops! Page Not Found</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">404 Error</h3>
      <p>
        It seems the page you're looking for has moved or doesn't exist anymore.
      </p>
      <p>Here’s what you can do:</p>

      <ul class="list--secondary">
        <li class="list__item">Double-check the URL for any typos.</li>
        <li class="list__item">
          Go back to the <a href="/">homepage</a> and try navigating from there.
        </li>
        <li class="list__item">
          If you’re looking for something specific and can’t find it, feel free
          to <a href="/contact">get in touch</a>!.
        </li>
      </ul>

      <a href="/"> <button class="btn btn--outline">Home</button></a>
      <a href="/contact/"> <button class="btn btn--outline">Contact</button></a>
    </div>

    <img
      class="feature__image"
      src="/images/sx4%20meme.jpg"
      alt="Computer with a brochure website"
      data-aos="zoom-in"
    />
  </article>
</section>
