---
title: Contact | SX4
layout: "base.njk"
---

<section class="block container">
  <header class="block__header">
    <h2 class="block__first--on--page">
      <span class="branding">Contact</span>
    </h2>
    <p>Submit a query and I will reply within one business day!</p>
  </header>

  <div class="card--containter">
    <div class="contact">
      <div class="card">
        <div class="card__body">
          <form
            name="Contact Form"
            method="POST"
            netlify
            enctype="multipart/form-data"
            action="/successful-submission/"
          >
            <div class="form">
              <input
                type="text"
                name="Name"
                placeholder="Name*"
                class="input"
                required
              />
              <input
                type="email"
                name="Email"
                placeholder="Email*"
                class="input"
                required
              />
              <input
                type="text"
                name="Phone"
                placeholder="Phone"
                class="input"
              />
              <textarea
                rows="5"
                name="Message"
                placeholder="Your message..."
                class="message"
                required
              ></textarea>

              <button
                id="Contact Button"
                class="btn btn--outline btn--block"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
