---
title: Drone Services | SX4
layout: "base.njk"
---

<section class="block container">
  <header class="block__header">
    <h2>Drone Services</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Drone Videos</h3>
      <ul class="list--secondary">
        <li class="list__item">Custom drone videos for businesses</li>
        <li class="list__item">4k footage</li>
        <li class="list__item">Optimised videos for social media</li>
        <li class="list__item">Great content for digital marketing</li>

        <li class="list__item">
          Unique drone shots help boost customer engagement and retention
        </li>
        <li class="list__item">
          Proffesional footage helps to attract new customers
        </li>
      </ul>
      <a class="link-arrow" href="#previous projects">View Previous Projects</a>
    </div>

    <div class="yt_video">
      <iframe
        src="https://www.youtube.com/embed/kS2xKNzhpZM?enablejsapi=1"
        title="Baginbun Beach | Co. Wexford"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
        data-gtm-yt-inspected-8="true"
        id="988755441"
      ></iframe>
    </div>
  </article>
</section>
<section class="block container" data-aos="zoom-in">
  <ul class="benefits__list">
    <li class="benefits__item">High Quality Drone Footage</li>
    <li class="benefits__item">Proffesional Editing</li>
    <li class="benefits__item">Social Media Optimisation</li>
    <li class="benefits__item">Fast Turnaround Time</li>
  </ul>
</section>
<section class="block block--banner">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Drone Inquiry</h2>
      <p class="block__heading">
        Get in touch if you are interested in a drone video!
      </p>

      <a href="/contact/">
        <button class="btn btn--secondary">Get in touch</button></a
      >
      <!-- <div style="max-width: fit-content; margin: auto">
        <a class="btn btn--secondary btn--block" href="/contact">Contact</a>
      </div> -->
    </header>
  </div>
</section>

<section class="block container" id="previous projects">
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Previous Projects</h3>
      <ul class="list--secondary">
        <li class="list__item">
          We worked with
          <a class="underline effect" href="https://thefishbasket.ie/"
            >The Fish Basket</a
          >
          to create a "kitchen re-opening" promotional video (Instagram embeded)
        </li>
        <li class="list__item">Shot with a 4k drone</li>
        <li class="list__item">Colour corrected and edited with music</li>
        <li class="list__item">Project duration: 1 day</li>
      </ul>
    </div>

    <!-- <div class="video">
      <blockquote
        class="instagram-media"
        data-instgrm-captioned
        data-instgrm-permalink="https://www.instagram.com/reel/Ci8HzXLqCjZ/?utm_source=ig_embed&amp;utm_campaign=loading"
        data-instgrm-version="14"
        style="
          background: #fff;
          border: 0;
          border-radius: 3px;
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
            0 1px 10px 0 rgba(0, 0, 0, 0.15);
          margin: 1px;
          max-width: 540px;
          min-width: 326px;
          padding: 0;
          width: 99.375%;
          width: -webkit-calc(100% - 2px);
          width: calc(100% - 2px);
        "
      ></blockquote>
      <script async src="//www.instagram.com/embed.js"></script>
    </div> -->

    <div class="yt_video">
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/reel/Ci8HzXLqCjZ/?utm_source=ig_embed&amp;utm_campaign=loading"
        data-instgrm-version="14"
      ></blockquote>
      <script async src="//www.instagram.com/embed.js"></script>
    </div>
  </article>
</section>

<!-- //////////////////////////////////////////////////// -->
<!-- FROM INDEX PAGE -->
<!-- //////////////////////////////////////////////////// -->
<!-- <section class="block container" id="previous projects">
  <header class="block__header">
    <h2>Some Videos</h2>
  </header>

  <article class="grid grid--1x3" data-aos="fade-in">
    <div class="video">
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/reel/Cl7FI8SjFjc/?utm_source=ig_embed&amp;utm_campaign=loading"
        data-instgrm-version="14"
        style="max-height: 500px"
      ></blockquote>
    </div>
    <div class="video">
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/reel/ClzHaDZjYnc/?utm_source=ig_embed&amp;utm_campaign=loading"
        data-instgrm-version="14"
        style="max-height: 500px"
      ></blockquote>
    </div>

    <div class="video">
      <blockquote
        class="instagram-media"
        data-instgrm-permalink="https://www.instagram.com/reel/ClzES8Ojv08/?utm_source=ig_embed&amp;utm_campaign=loading"
        data-instgrm-version="14"
        style="max-height: 500px"
      ></blockquote>
      <script async src="//www.instagram.com/embed.js"></script>
    </div>
  </article>
</section>

<section class="block container">
  <header class="block__header">
    <h2>Custom Projects</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <ul class="list--secondary">
        <li class="list__item">
          Custom drone promotional videos for businesses
        </li>
        <li class="list__item">
          Great for digital marketing from social media content to website
          features
        </li>
        <li class="list__item">
          Unique drone shots help boost user engagement and retention
        </li>
        <li class="list__item">Help attract new customers!</li>
      </ul>
      <a href="/drone-services/">
        <button class="btn btn--outline">Learn More</button></a
      >
    </div>
    <img
      class="feature__image"
      src="images/drone.PNG"
      alt="Ecommerce illustration"
      data-aos="zoom-in"
    />
  </article>
</section> -->
<!-- //////////////////////////////////////////////////// -->
<!-- FROM INDEX PAGE -->
<!-- //////////////////////////////////////////////////// -->
