---
title: Drone Services | SD
layout: "base.njk"
---

<section class="block container">
  <header class="block__header">
    <h2>Drone Services</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Business Videos</h3>
      <p>
        I shoot and edit promotional videos for small businesses. These videos
        are useful for social media accounts and websites. Using drone footage
        allows business to stick out from the crowd.
      </p>
    </div>

    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/kS2xKNzhpZM?enablejsapi=1&autoplay=1&mute=1"
        title="Baginbun Beach | Co. Wexford"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
        data-gtm-yt-inspected-8="true"
        id="988755441"
      ></iframe>
    </div>
    <!-- <img
      class="feature__image"
      src="/images/brochure.PNG"
      alt="Illustration of a desktop with an brochure website open"
      data-aos="zoom-in"
    /> -->

    <!-- <video class="feature__image" controls>
      <source src="/images/Baginbun.mp4" type="video/mp4" />
    </video> -->
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Property Photography</h3>
      <p>
        I shoot and edit photography for property. Particularly in the Air BnB
        space. Help your property stand out from the crowd!
      </p>
      <button class="btn btn--outline">Get in touch!</button>
    </div>
    <img
      class="feature__image"
      src="/images/brochure.PNG"
      alt="Illustration of a desktop with an brochure website open"
      data-aos="zoom-in"
    />
  </article>
</section>
