---
title: Ecommerce | SD
layout: "base.njk"
---

<section class="block container">
  <header class="block__header">
    <h2>Ecommerce</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Search Engine Optimisation</h3>
      <p>
        Search Engine Optimisation (SEO) involves increasing the number of users
        who visit a website from Google search results. For example, just
        because you have an ecommerce store it does not mean that your products
        are found in Google. Instead, users would first have to visit your store
        to find them.
      </p>
      <p>
        A variety of SEO tactics and strategies exist, from content generation
        to link building. I deal with technical SEO, working to fix basic SEO
        properties and improve overall site health. Typically, an increase in
        the number of products found in Google, known as indexing, results in a
        positive correlation with sales.
      </p>
    </div>

    <img
      class="feature__image"
      src="/images/seo.png"
      alt="Desktop illustration"
      data-aos="zoom-in"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Site Audits</h3>
      <p>
        In order to assess website health I conduct site audits. During a site
        audit I crawl an ecommerce store and provide a comprehensive breakdown
        of key metrics, outlining what customers can fix in order to increase
        their chances of being indexed on Google. Furthermore, I am happy to
        help implement changes where possible.
      </p>
    </div>

    <img
      class="feature__image"
      src="/images/audit.PNG"
      alt="Checklist illustration"
      data-aos="zoom-in"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Google Tools</h3>
      <p>
        There are a number of SEO tools all ecommerce store owners should have
        installed on their websites. Two of the main tools are provided by
        Google, known as Google Analytics and Google Search Console. Google
        Analytics allows users to track and report website traffic while Google
        Search Console allows users to check indexing status and optimize the
        visibility of their websites. I can help install both of these tools on
        client's websites and provide an overview of how to use them
        effectively.
      </p>
    </div>

    <img
      class="feature__image"
      src="/images/google tools.PNG"
      alt="Google branding for website tools"
      data-aos="zoom-in"
    />
  </article>
</section>
