---
title: Home | Sean's Simple Site Solutions SX4
layout: "base.njk"
---

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 data-aos="zoom-in-up" class="block__heading">
        Sean's Simple Site Solutions
      </h1>
      <p data-aos="zoom-in-up" class="hero__tagline">
        Bringing Local Businesses Online, One Simple Site at a Time
      </p>
    </header>
    <img
      class="hero__image"
      src="images/logo.png"
      alt="SX4 logo"
      data-aos="zoom-in"
    />
  </div>
</section>
<section class="block container">
  <header class="block__header">
    <h2>Welcome to SX4</h2>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">
        Cost-Effective Websites for Small Businesses
      </h3>
      <p>
        Hi, I’m Sean, and I run SX4—a web development service focused on helping
        small businesses succeed online without the burden of subscriptions or
        hidden fees. I custom code websites from scratch to give you a
        professional, hassle-free online presence for a one-time fee. No monthly
        charges, no surprises—just a straightforward solution to make your
        business stand out!
      </p>
      <a href="/web-design/">
        <button class="btn btn--outline">Learn More</button>
      </a>
      <br />
      <h3>Why a Website in 2024?</h3>
      <p>
        A website is more than just a digital business card—it’s a direct line
        to credibility and visibility on Google. In 2024,
        <a
          href="https://themeisle.com/blog/do-i-need-a-website-for-my-business/"
          target="_blank"
          class="underline effect"
          >84% of consumers</a
        >
        feel that a business with a website is more credible than one relying
        solely on social media. A well-designed website makes it easy for
        potential customers to find your services, pricing, and contact
        information, creating a lasting first impression!
      </p>
      <a href="/web-design/">
        <button class="btn btn--secondary">Get a Free Website Design</button>
      </a>
    </div>
    <div class="feature__content" data-aos="fade-right">
      <img
        class="me"
        src="images/me.jpg"
        alt="Group picture"
        data-aos="zoom-in"
      />
    </div>
  </article>
</section>
<section class="block container">
  <header class="block__header">
    <h2>Previous Clients</h2>
    <p>Check out some of the previous websites I have built for clients!</p>
  </header>
  <article class="feature">
    <div class="feature__content">
      <div class="review-carousel">
        {% for client in portfolio %}

        <div class="portfolio-item">
          <a href="{{ client.url }}" target="_blank">
            <img
              src="{{ client.image }}"
              alt="Site 1"
              class="portfolio__image"
            />
          </a>
          <a
            href="{{ client.url }}"
            target="_blank"
            class="link underline effect"
            >{{ client.name }}</a
          >
        </div>
        {% endfor %}
      </div>
    </div>
  </article>
</section>
<section class="block block--banner">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Have a Question?</h2>
      <a href="/contact/">
        <button class="btn btn--secondary">Get in Touch</button>
      </a>
    </header>
  </div>
</section>
