---
title: Home | SX4
layout: "base.njk"
---

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 data-aos="zoom-in-up" class="block__heading">
        Sean's Simple Site Solutions
      </h1>
      <p data-aos="zoom-in-up" class="hero__tagline">
        Bringing Local Businesses Online, One Simple Site at a Time
      </p>
    </header>
    <img
      class="hero__image"
      src="images/logo.png"
      alt="SX4 logo"
      data-aos="zoom-in"
    />
  </div>
</section>
<section class="block container">
  <header class="block__header">
    <h2>Overview</h2>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Introduction</h3>
      <p>
        Welcome! If you're reading this, it's likely because I've already
        reached out to you. My name is Sean (blue jumper), and I run SX4.
      </p>
      <p>
        I’m a passionate web developer who specializes in creating simple yet
        effective brochure websites for local businesses. My focus is on helping
        small businesses establish an online presence without breaking the bank.
        By using efficient platforms and streamlined processes, I’m able to keep
        costs low and quality high.
      </p>
    </div>
    <div class="feature__content" data-aos="fade-right">
      <img
        class="feature__image"
        src="images/us.jpg"
        alt="Group picture"
        data-aos="zoom-in"
      />
    </div>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Brochure Websites</h3>

      <p>
        Think of a brochure website as your business card on the web—simple,
        sleek, and effective. These lightweight websites are perfect for local
        businesses that want a professional online presence without complexity.
      </p>
      <p>
        In a world where consumers are returning to favoring websites over apps
        and social media profiles, having a website is more important than ever.
        In fact, a
        <a
          href="https://themeisle.com/blog/do-i-need-a-website-for-my-business/"
          target="_blank"
          class="underline effect"
          >recent survey</a
        >
        found that 84% of consumers believe a business with a website is more
        credible than one with only a social media profile.
      </p>
      <a href="/web-design/">
        <button class="btn btn--outline">Learn More</button>
      </a>
    </div>
    <img
      class="feature__image"
      src="images/brochure3.PNG"
      alt="Computer with a brochure website"
      data-aos="zoom-in"
    />
  </article>
</section>
