---
title: Sean Develops
layout: "base.njk"
---

<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 data-aos="zoom-in-up" class="block__heading">Sean Develops</h1>
      <p data-aos="zoom-in-up" class="hero__tagline">
        Simple website and marketing solutions :)
      </p>
    </header>

    <img
      class="hero__image"
      src="images/logo.png"
      alt="SX4 logo"
      data-aos="zoom-in"
    />
  </div>
</section>

<section class="block container">
  <header class="block__header">
    <h2>Overview</h2>
    <p>
      My aim is to provide simple solutions for brochure and ecommerce websites!
    </p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Introduction</h3>
      <p>
        Chances are if you are reading this, I have already reached out to you.
        SX4 is run by me, Sean (blue jumper).
      </p>
      <p>
        I am an enthusiastic web developer who enjoys creating brochure websites
        and working on ecommerce related projects. I believe the approach I
        take, and the platforms I use, allow me to minimise costs for businesses
        that I reach out to :)
      </p>
    </div>

    <div class="feature__content" data-aos="fade-right">
      <img
        class="feature__image"
        src="images/us.jpg"
        alt="Group picture"
        data-aos="zoom-in"
      />
    </div>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Drone Services</h3>
      <p>
        I film and edit custom drone promotional videos for small businesses.
        Using drone footage for business marketing helps to stand out of the
        crowd and look professional. Intriguing angles always ensure high
        customer engagement.
      </p>
      <a href="/drone-services/">
        <button class="btn btn--outline">Learn More</button></a
      >
    </div>

    <img
      class="feature__image"
      src="images/drone.PNG"
      alt="Ecommerce illustration"
      data-aos="zoom-in"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">Website Design</h3>
      <p>
        I specialise in custom coding websites for small to medium businesses.
        By coding websites from scratch I bypass the costs associated with
        website building platforms such as WordPress or Wix. This means that
        there is no monthly fee with any of the websites I develop, saving small
        to medium businesses money! I also install Google Analytics on all
        websites and provide monthly reports of user engagement.
        <a href="/web-design/">
          <button class="btn btn--outline">Learn More</button></a
        >
      </p>
    </div>

    <img
      class="feature__image"
      src="images/brochure3.PNG"
      alt="Computer with a brochure website"
      data-aos="zoom-in"
    />
  </article>
</section>
