---
title: Succesful Submission | SX4
description: ""
layout: "base.njk"
---

{% for placeholder in placeholders %}

<section class="block container">
  <header class="block__header">
    <h2>Thank You!</h2>
    <p>
      I have successfully received your submission. I appreciate you taking the
      time to reach out!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <h3 class="feature__heading">What Happens Next:</h3>
      <p>I will respond to all messages within 1 business day.</p>
      <p>
        If you don’t hear from me within this time, please feel free to follow
        up at
        <a href="mailto:{{ placeholder.Email }}">{{ placeholder.Email }}</a>
        or call me on
        <a href="tel:{{ placeholder.Number }}">{{ placeholder.Number }}</a
        >.
      </p>
      <div class="feature center">
        <a href="/">
          <button class="btn btn--secondary btn--block">Home Page</button>
        </a>
      </div>
    </div>

    <img
      class="feature__image"
      src="{{ placeholder.Hero }}"
      alt="Computer with a brochure website"
      data-aos="zoom-in"
    />
  </article>
</section>
{% endfor %}
