---
title: Web Design | SD
layout: "base.njk"
---

<section class="block container">
  <header class="block__header">
    <h2>Website Design</h2>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">What is a Brochure Website?</h3>

      <ul class="list--secondary">
        <li class="list__item">
          A brochure website is a lightweight website that provides a business
          with a web presence.
        </li>
        <li class="list__item">
          A brochure website allows a business to showcase key information,
          testimonials and updates.
        </li>
        <li class="list__item">
          <a
            href="https://www.prnewswire.com/news-releases/76-of-consumers-look-at-online-presence-before-physically-visiting-a-business-301272462.html"
            target="_blank"
            class="underline effect"
            >76% of consumers</a
          >
          look at online presence before physically visiting a business.
        </li>
        <li class="list__item">
          <a
            href="https://themeisle.com/blog/do-i-need-a-website-for-my-business/"
            target="_blank"
            class="underline effect"
            >84% of consumers</a
          >
          think a business with a website is more credible than a business with
          only a social media profile.
        </li>
        <li class="list__item">
          I specialise in custom coding brochure websites for small to medium
          businesses.
        </li>
      </ul>
      <a class="link-arrow" href="#why me">Why choose me?</a>
      <!-- <a href="#why me">
        <button class="btn btn--outline">Why chose me?</button></a
      > -->
    </div>
    <img
      class="feature__image"
      src="/images/brochure.PNG"
      alt="Illustration of a desktop with an brochure website open"
      data-aos="zoom-in"
    />
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Sample Websites</h3>

      <ul class="list--secondary">
        <li class="list__item">
          I have 3 sample website templates to chose from.
        </li>
        <li class="list__item">
          Each template suits the requirements of different business types.
        </li>

        <li class="list__item">
          The templates help to skip a prolonged design phase and save customers
          money.
        </li>
        <li class="list__item">
          Features from each template may be mixed so please check each demo
          website if you are unsure of your requirments.
          <a class="underline effect" href="/drone-services/" target="_blank"
            >Custom drone content</a
          >
          can also be included in any package.
        </li>
        <li class="list__item">
          My websites follow the "mobile first" design principle to ensure they
          are user friendly on mobile, tablet and desktop devices.
        </li>
      </ul>
      <a class="link-arrow" href="#templates">View Templates</a>
      <!-- <a href="#templates">
        <button class="btn btn--outline">View Templates</button></a
      > -->
    </div>
    <img
      class="feature__image"
      src="/images/save.PNG"
      alt="Illustration for saving time and money"
    />
  </article>
</section>
<section class="block container" id="templates" data-aos="zoom-in">
  <ul class="benefits__list">
    <li class="benefits__item">Custom Coded Websites</li>
    <li class="benefits__item">No Monthly Fee</li>
    <li class="benefits__item">Free SSL Security Certificate</li>
    <li class="benefits__item">Direct Contact</li>
  </ul>
</section>

<section class="block block--skewed-left block-products">
  <div class="container">
    <header class="block__header">
      <h2>Website Templates</h2>
    </header>

    <div class="grid grid--1x3">
      <div class="products">
        <div class="card card--secondary">
          <header class="card__header">
            <span class="card__heading">Template 1</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">About Us</li>
              <li class="list__item">Pricing</li>
              <li class="list__item">Contact</li>
              <li class="list__item">
                Ideal for service busineesses such as kennels or barbers
              </li>
              <li class="list__item">From €100</li>
            </ul>
            <a href="https://yourkennelname.netlify.app/" target="_blank">
              <button class="btn btn--outline btn--block">
                View Demo Website
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="products products--popular">
        <div class="card card--primary">
          <header class="card__header">
            <span class="card__heading">Template 2</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">About Us</li>
              <li class="list__item">Products</li>
              <li class="list__item">Social Media Integration</li>
              <li class="list__item">
                Ideal for businesses such as coffee vans or small restaurants
              </li>
              <li class="list__item">From €130</li>
            </ul>

            <a href="https://happydayscoffee.netlify.app/" target="_blank">
              <button class="btn btn--outline btn--block">
                View Demo Website
              </button></a
            >
          </div>
        </div>
      </div>
      <div class="products">
        <div class="card card--secondary">
          <header class="card__header">
            <span class="card__heading">Template 3</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">About Us</li>
              <li class="list__item">Contact</li>
              <li class="list__item">Blog</li>
              <li class="list__item">Ideal for small to medium businesses</li>
              <li class="list__item">From €140</li>
            </ul>

            <a href="https://coverup.netlify.app/" target="_blank">
              <button class="btn btn--outline btn--block">
                View Demo Website
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="block block--banner">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Free Quote</h2>
      <p class="block__heading">
        Get in touch for a free quote on a custom website!
      </p>

      <a href="/contact/">
        <button class="btn btn--secondary">Get in touch</button></a
      >
      <!-- <div style="max-width: fit-content; margin: auto">
        <a class="btn btn--secondary btn--block" href="/contact">Contact</a>
      </div> -->
    </header>
  </div>
</section>

<section class="block container" id="why me">
  <header class="block__header">
    <h2>Why choose Sean Develops?</h2>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">No Website Builders</h3>

      <ul class="list--secondary">
        <li class="list__item">
          The majority of websites are built using website builders such as
          WordPress or Wix meaning owners pay a monthly fee ranging from €8-25.
        </li>

        <li class="list__item">
          My websites are custom coded from scratch meaning business pay a once
          off development fee and forgo monthly subscription fees.
        </li>
        <li class="list__item">
          My websites also come with a free SSL secuirty certificate, saving
          customers €80-130 per year. This means your website is HTTPS secure as
          favoured by Google.
        </li>
      </ul>
    </div>

    <img
      class="feature__image"
      src="/images/website builder.png"
      alt="Illustration of a website builder"
      data-aos="zoom-in-up"
    />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-up">
      <h3 class="feature__heading">Google Tools</h3>

      <ul class="list--secondary">
        <li class="list__item">
          My websites include Google Analytics and Google Search Console.
        </li>

        <li class="list__item">
          Google Analytics allows users to track and report website traffic.
        </li>
        <li class="list__item">
          Google Search Console allows users to optimize the visibility of their
          websites.
        </li>
        <li class="list__item">
          I provide comprehensive monthly reports of how your website is
          performing.
        </li>
      </ul>
    </div>

    <img
      class="feature__image"
      src="/images/google tools.PNG"
      alt="Google branding for website tools"
      data-aos="zoom-in"
    />
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content" data-aos="fade-right">
      <h3 class="feature__heading">No Bullsh*t</h3>
      <ul class="list--secondary">
        <li class="list__item">
          The first website I created was for a family memeber who was looking
          to kickstart a small business.
        </li>
        <li class="list__item">
          I was surprised at how underserved small businesses were in the
          website space and how expensive the process was.
        </li>
        <li class="list__item">
          My goal is to get your website up and running as soon as possible,
          reducing cost and time for businesses who have more to worry about
          than a website.
        </li>
        <li class="list__item">
          I am easily contactable at any time to update your website.
        </li>
      </ul>
      <a href="/contact/">
        <button class="btn btn--secondary">Get in touch</button></a
      >
    </div>

    <div class="feature__content" data-aos="fade-right">
      <img
        class="feature__image"
        src="/images/us.jpg"
        alt="Group picture"
        data-aos="zoom-in"
      />
    </div>
  </article>
</section>

<!-- <section class="block">
  <div class="container">
    <header class="block__header">
      <h2><span class="branding">Previous</span> Projects</h2>
      <p>Below are some websites I have created!</p>
    </header>

    <div class="slideshow--container">
      <div class="slideshow">
        <div class="slideshow__slide active">
          <a
            class="underline effect"
            href="https://coverup.netlify.app/"
            target="_blank"
          >
            <img
              src="/images/coverup.png"
              alt="Screenshot of the coverup website"
              class="slideshow__image"
          /></a>
          <div class="slideshow__info">
            <p class="slideshow__caption">
              Coverup.ie specialise in flags & banners.
            </p>
          </div>
        </div>

        <div class="slideshow__slide">
          <img
            src="/images/sx4.png"
            alt="Screenshot of the SX4 website"
            class="slideshow__image"
          />
          <div class="slideshow__info">
            <p class="slideshow__caption">SX4 is my simple personal website!</p>
          </div>
        </div>

        <div class="slideshow__navigation">
          <div class="slideshow__btn active"></div>
          <div class="slideshow__btn"></div>
        </div>
      </div>
    </div>
  </div>
</section> -->
